In [2]:
!git clone https://github.com/Pyroxene889/Store-Sales

Cloning into 'Store-Sales'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 23 (delta 6), reused 13 (delta 3), pack-reused 0
Unpacking objects: 100% (23/23), 73.13 KiB | 2.36 MiB/s, done.

In [4]:
import pandas as pd

df_train = pd.read_csv('/content/Store-Sales/test_data_cleaned.csv')

print("hello word")
x=4
print(x)

df_train.describe()

hello word
4

,store_nbr,onpromotion,cluster,dcoilwtico,transactions,n_holidays
count,28512.000000,28512.000000,28512.000000,21384.000000,0.0,28512.000000
mean,27.500000,6.965383,8.481481,47.243333,NaN,0.062500
std,15.586057,20.683952,4.649816,0.753922,NaN,0.242066
min,1.000000,0.000000,1.000000,45.960000,NaN,0.000000
25%,14.000000,0.000000,4.000000,46.715000,NaN,0.000000
50%,27.500000,0.000000,8.500000,47.250000,NaN,0.000000
75%,41.000000,6.000000,13.000000,47.650000,NaN,0.000000
max,54.000000,646.000000,17.000000,48.590000,NaN,1.000000

In [ ]:
groupe_family= df_train.groupby(['family'])['family'].count()

print(groupe_family)

print('Row count is:', len(groupe_family.index))

family
AUTOMOTIVE                    90936
BABY CARE                     90936
BEAUTY                        90936
BEVERAGES                     90936
BOOKS                         90936
BREAD/BAKERY                  90936
CELEBRATION                   90936
CLEANING                      90936
DAIRY                         90936
DELI                          90936
EGGS                          90936
FROZEN FOODS                  90936
GROCERY I                     90936
GROCERY II                    90936
HARDWARE                      90936
HOME AND KITCHEN I            90936
HOME AND KITCHEN II           90936
HOME APPLIANCES               90936
HOME CARE                     90936
LADIESWEAR                    90936
LAWN AND GARDEN               90936
LINGERIE                      90936
LIQUOR,WINE,BEER              90936
MAGAZINES                     90936
MEATS                         90936
PERSONAL CARE                 90936
PET SUPPLIES                  90936
PLAYERS AND ELECTRONICS       90936
POULTRY                       90936
PREPARED FOODS                90936
PRODUCE                       90936
SCHOOL AND OFFICE SUPPLIES    90936
SEAFOOD                       90936
Name: family, dtype: int64
Row count is: 33

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           28512 non-null  object
 1   store_nbr      28512 non-null  int64
 2   family         28512 non-null  object
 3   onpromotion    28512 non-null  int64
 4   city           28512 non-null  object
 5   type_of_store  28512 non-null  object
 6   cluster        28512 non-null  int64
 7   dcoilwtico     21384 non-null  float64
 8   transactions   0 non-null      float64
 9   n_holidays     28512 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 2.2+ MB